<script src="./../../javascripts/app.js"></script>

<script src="./../../javascripts/jquery.masknumber.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.number').maskNumber({
            integer: true
        });
    });
</script>

<link href="./../vendor/select2/css/select2.css" rel="stylesheet">
<script src="./../vendor/select2/js/select2.js">
</script>

<script>
    $('select').select2({
        width: '100%',
        placeholder: "Empty",
        allowClear: true
    });
    $('.select2-selection').css('border', 'none');
</script>
</body>

</html>