<!DOCTYPE html>

<html lang="en" class="light">
<!-- BEGIN: Head -->

<head>
    <meta charset="utf-8">
    <title>Infinity technology | Login</title>
    <link rel="shortcut icon" href="./../../public/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Infinity technology | Login">
    <meta name="keywords" content="24 Gruop">

    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="./../../public/stylesheets/app.css" />
    <!-- END: CSS Assets-->

    <!-- BEGIN: JS Assets-->
    <script src="./../../public/javascripts/jquery.min.js"></script>
    <script src="./../../public/javascripts/sha512.min.js"></script>
    <script src="./../../public/javascripts/helper.js"></script>
    <!-- END: JS Assets-->

</head>
<!-- END: Head -->

<body class="login">

    <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <a href="" class="intro-x flex items-center pl-5 pt-4">
                    <img class="w-10 p-2" src="./../../public/images/icon.png" style="background: white;
                        border-radius: 50%;">
                    <span class="hidden xl:block text-white text-lg ml-3">Infinity technology</span>
                </a>
                <div class="my-auto">
                    <img class="-intro-x w-1/2 -mt-16" src="./../../public/images/illustration.svg">
                    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                        Infinity Group
                        <br> Trust is the first!
                    </div>
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-dark-1 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                        Sign in
                    </h2>
                    <div class="intro-x mt-8">
                        <input id="input_user_name" type="text" class="intro-x login__input form-control py-3 px-4 border-gray-300 block" placeholder="User name">
                        <input id="input_password" type="password" class="intro-x login__input form-control py-3 px-4 border-gray-300 block mt-4" placeholder="Password">
                    </div>
                    <div class="form-group mt-2">
                        <span id="lbl_title_error" class="text-danger" style="color: red;display: none;">Invalid password</span>
                    </div>
                    <div class="intro-x flex text-gray-700 dark:text-gray-600 text-xs sm:text-sm mt-4">
                        <div class="flex items-center mr-auto">
                            <input id="remember-me" type="checkbox" class="form-check-input border mr-2">
                            <label class="cursor-pointer select-none" for="remember-me">Remember</label>
                        </div>
                    </div>
                    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                        <button id="BtnLogin" onclick="login()" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Sign in</button>
                    </div>
                    <div class="intro-x mt-10 xl:mt-24 text-gray-700 dark:text-gray-600 text-center xl:text-left">
                        By continuing, you agree to
                        <br>
                        <a class="text-theme-1 dark:text-theme-10" href="">Terms of use</a> & <a class="text-theme-1 dark:text-theme-10" href="">Privacy Policy</a>
                    </div>
                </div>
            </div>
            <!-- END: Login Form -->
        </div>
    </div>
    <!-- BEGIN: JS Assets-->
    <script src="./../../public/javascripts/app.js"></script>
    <!-- END: JS Assets-->

    <script>
        if (getCookie('token')) {
            window.location.replace('./../admin/print-pcr')
        }

        $('#input_password').keypress(function(event) {
            if (event.keyCode == 13) {
                login()
            }
        });

        function login() {
            $('#lbl_title_error').hide()

            $.ajax({
                type: 'POST',
                url: './../api/admin/authorization/sign-in',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    'token': getCookie('token')
                },
                cache: false,
                data: {
                    user_name: $('#input_user_name').val(),
                    password: sha512($('#input_password').val()),
                },
                success: function(response) {
                    setCookie('token', response.accessToken)
                    window.location.replace('./../admin/print-pcr')
                },
                error: function(data) {
                    $('#lbl_title_error').show()
                }
            })
        }
    </script>
</body>

</html>