<html>

<body>
    <div class="row">
        <div class="col-12">
            <div class="title-page">ĐIỀU KHOẢN SỬ DỤNG &amp; CHÍNH SÁCH BẢO MẬT</div>
        </div>
        <div class="col-12">
            <div class="head-page">Ứng dụng NCH Bệnh Viện Nhi Trung Ương</div>
        </div>
        <div class="col-12">
            <div class="main-content-answer">Người dùng vui lòng đọc kỹ Điều khoản sử dụng ("Điều khoản") trước khi tiến hành cài đặt bất kỳ phần nào của ứng dụng NCH Bệnh Viện Nhi Trung Ương ("NCH Bệnh Viện Nhi Trung Ương") (bao gồm nhưng không giới hạn các phần mềm, các file và tài
                liệu liên quan). Bạn chấp thuận và đồng ý bị ràng buộc bởi các quy định và điều kiện trong Điều khoản này khi thực hiện các thao tác trên đây.</div>
        </div>
        <div class="col-12">
            <div class="box-1">
                <div class="box-faq-content">
                    <div class="title-question">
                        <div class="title-question-r">Điều 1. Giới thiệu về ứng dụng NCH Bệnh Viện Nhi Trung Ương</div>
                    </div>
                    <div class="main-content-answer">
                        <div class="main-content-dksd">Ứng dụng NCH Bệnh Viện Nhi Trung Ương NCH Bệnh Viện Nhi Trung Ương là ứng dụng do đội ngũ IT Bệnh Viện Nhi Trung Ương được triển khai với mục đích tra cứu, khai báo và tạo thuận tiện nhất cho người đến khám tại bệnh viện</div>
                        <!-- <div class="main-content-dksd">NCH Bệnh Viện Nhi Trung Ương là ứng dụng sử dụng công nghệ Bluetooth năng lượng thấp (Bluetooth Low Energy) để ghi nhận các tiếp xúc gần giữa các điện thoại di động thông minh cùng cài đặt và sử dụng NCH Bệnh Viện Nhi Trung Ương. Ứng dụng sẽ cảnh báo nếu người dùng có
                            tiếp xúc gần với ca nhiễm, ca nghi nhiễm hoặc người đã từng tiếp xúc gần với ca nhiễm, ca nghi nhiễm.</div>
                        <div class="main-content-dksd">Những tiếp xúc của người dùng NCH Bệnh Viện Nhi Trung Ương với người dùng NCH Bệnh Viện Nhi Trung Ương khác được ghi vào lịch sử tiếp xúc. Dữ liệu lịch sử tiếp xúc được lưu trên máy điện thoại của người dùng. Dữ liệu lịch sử tiếp xúc sẽ chỉ được sử dụng để phục vụ cơ
                            quan y tế khi có sự đồng ý của người dùng hoặc trong trường hợp người dùng là ca nhiễm, ca nghi nhiễm.</div>
                        <div class="main-content-answer-line-">NCH Bệnh Viện Nhi Trung Ương chỉ lưu lịch sử tiếp xúc mà không lưu vị trí địa điểm, không sử dụng hoặc truy cập đến các thông tin khác trên điện thoại di động của người dùng như danh bạ, ảnh...</div>
                        <div class="main-content-answer-line-">Để thực hiện việc quản lý tiếp xúc gần, đầu tiên người dùng cần tải về và cài đặt ứng dụng NCH Bệnh Viện Nhi Trung Ương NCH Bệnh Viện Nhi Trung Ương.</div> -->
                    </div>
                </div>
            </div>
            <div class="box-1">
                <div class="box-faq-content">
                    <div class="title-question">
                        <div class="title-question-r">Điều 2. Cập nhật</div>
                    </div>
                    <div class="main-content-answer">
                        <div class="main-content-answer-line-">Điều khoản này có thể được cập nhật thường xuyên bởi đội ngũ phát triển ứng dụng, phiên bản cập nhật sẽ được công bố tại website: https://benhviennhitrunguong.gov.vn/. Phiên bản cập nhật sẽ thay thế cho các quy định và điều khoản
                            trong thỏa thuận ban đầu. Người dùng có thể truy cập vào Ứng dụng hoặc vào website trên để xem nội dung chi tiết của phiên bản cập nhật.</div>
                    </div>
                </div>
            </div>
            <div class="box-1">
                <div class="box-faq-content">
                    <div class="title-question">
                        <div class="title-question-r">Điều 3. Quyền truy cập</div>
                    </div>
                    <div class="main-content-answer">
                        <div class="main-content-answer-line-">Khi sử dụng Ứng dụng, Người dùng đồng ý cho phép ứng dụng có quyền sử dụng những chức năng sau trên điện thoại của mình, tất cả các truy cập này chỉ được chúng tôi thực hiện khi có sự đồng ý của bạn, vì vậy, bạn thừa nhận rằng,
                            khi bạn đã cấp quyền cho chúng tôi, bạn sẽ không có bất kỳ khiếu nại nào đối với việc truy cập này:</div>
                        <div class="main-content-answer-line-">(1) Truy cập vào Internet từ thiết bị của bạn</div>
                        <div class="main-content-answer-line-">(2) Sử dụng Micro hỗ trợ tìm kiếm</div>
                    </div>
                </div>
            </div>
            <div class="box-1">
                <div class="box-faq-content">
                    <div class="title-question">
                        <div class="title-question-r">Điều 4. Khai báo thông tin cá nhân</div>
                    </div>
                    <div class="main-content-answer">
                        <div class="main-content-dksd">Lưu trữ hồ sơ khai báo, trợ giúp của cơ quan y tế khi cần thiết. Thông tin cá nhân bao gồm: Họ và tên, Số điện thoại, Địa chỉ, Giới tính, CMND/CCCD, Ngày sinh.</div>
                        <div class="main-content-answer-line-">Người dùng tự chịu trách nhiệm về năng lực hành vi trong việc sử dụng, đăng ký thông tin.</div>
                    </div>
                </div>
            </div>
            <div class="box-1">
                <div class="box-faq-content">
                    <div class="title-question">
                        <div class="title-question-r">Điều 5. Bảo vệ sự riêng tư và bản quyền</div>
                    </div>
                    <div class="main-content-answer">
                        <div class="main-content-dksd">Dữ liệu của người dùng phục vụ phân tích, không xâm phạm đời tư.</div>
                        <div class="main-content-answer-line-">Ngoài các mục đích trên, đơn vị phát triển ứng dụng không được phép thu thập, sử dụng thông tin của người dùng vào bất kỳ mục đích gì khác. Và sẽ không tiết lộ bất kỳ thông tin nào có thể gây tổn hại hoặc thực hiện
                            bất kỳ hành vi bất hợp pháp nào về quyền riêng tư của người dùng theo luật pháp Việt Nam hoặc chính sách của ứng dụng NCH Bệnh Viện Nhi Trung Ương.</div>
                    </div>
                </div>
            </div>
            <div class="box-1">
                <div class="box-faq-content">
                    <div class="title-question">
                        <div class="title-question-r">Điều 6. Quyền, trách nhiệm của người dùng</div>
                    </div>
                    <div class="main-content-answer">
                        <div class="main-content-dksd">Tuân thủ các quy định về bảo đảm an toàn thông tin, an ninh thông tin. Người dùng đảm bảo khai báo các thông tin chính xác, có độ xác thực cao.</div>
                        <div class="main-content-dksd">Được bảo vệ bí mật thông tin riêng và thông tin Người dùng theo quy định của pháp luật.</div>
                        <div class="main-content-dksd">Trong quá trình sử dụng ứng dụng, Người dùng được sử dụng các dịch vụ hỗ trợ theo quy định. Khi phát hiện ra lỗi của sản phẩm, Người dùng hãy thông báo cho chúng tôi qua đội ngũ hỗ trợ NCH Bệnh Viện Nhi Trung Ương.</div>
                        <div class="main-content-answer-line-">Thực hiện quyền và trách nhiệm khác theo quy định pháp luật.</div>
                    </div>
                </div>
            </div>
            <div class="box-1">
                <div class="box-faq-content">
                    <div class="main-content-answer">
                        <div class="head-page">Đội ngũ phát triển ứng dụng NCH Bệnh Viện Nhi Trung Ương</div>
                        <div class="main-content-dksd">chamsockhachhang@nch.gov.vn</div>
                        <div class="main-content-dksd">0246273 8532</div>
                        <div class="main-content-answer-line-">https://benhviennhitrunguong.gov.vn/</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>